*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lampada{
    margin-bottom: 150px;
}